@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
  font-family: "Oswald", sans-serif;
}

.world {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 80%;
}

.global-sign {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background: #2f4f4f;
  font-size: 1.2rem;
  border: 2px solid #353535;
}

.global-sign__info {
  margin: 0 25px;
  color: #ffd700;
}

.global-sign__info__value {
  margin: 0 25px 0 10px;
  color: #ff6347;
}

.heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
  color: #ffd700;
  text-shadow: 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black;
}

path {
  transition: fill 1s ease;
}

.map-legend {
  display: block;
  position: fixed;
  top: 0;
  margin-top: 24%;
  width: 250px;
  height: auto;
  background: rgb(210, 215, 211);
  padding: 1rem;
  border-top: 1px solid #2f4f4f;
  border-right: 1px solid #2f4f4f;
  border-bottom: 1px solid #2f4f4f;
}

.map-legend__info {
  margin-bottom: 10px;
}

.color-box {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border: 1px solid black;
  background: rgba(207, 0, 15, 0);
}

.color-box_0 {
  background: rgba(207, 0, 15, 0.1);
}

.color-box_1 {
  background: rgba(207, 0, 15, 0.2);
}

.color-box_2 {
  background: rgba(207, 0, 15, 0.3);
}

.color-box_3 {
  background: rgba(207, 0, 15, 0.4);
}

.color-box_4 {
  background: rgba(207, 0, 15, 0.5);
}

.color-box_5 {
  background: rgba(207, 0, 15, 0.6);
}

.color-box_6 {
  background: rgba(207, 0, 15, 0.7);
}

.color-box_7 {
  background: rgba(207, 0, 15, 0.8);
}

.color-box_8 {
  background: rgba(207, 0, 15, 0.9);
}

.color-box_9 {
  background: rgba(207, 0, 15, 1);
}
